<% extend('./../../layout.ejs') %>

<div class="container0fluid" style="overflow-y: scroll; overflow-x: hidden; height: 95%;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="display-4 display-title anim-2" style="margin-top: 80px; text-align: center;">
                Choose Any Five Designs
            </h4>
            <div class="row">
                <% designs.forEach(d=>{ %>
                <div class="col-md-4" id="designUpper<%= d.val().id %>">
                    <a href="javascript:;" style="text-decoration: none;" id="design<%= d.val().id %>"
                        onclick="selectDesign('<%= d.val().id %>')">
                        <div class="jumbotron" style="padding: 5px 5px 5px 5px;">
                            <img src="<%= d.val().designURL %>" class="img-thumbnail img-responsive"
                                style="height: 300px!important; width: 100%;" />
                            <h3 class="designHeading">
                                <%= d.val().designName %>
                            </h3>
                        </div>
                    </a>
                </div>
                <% }) %>
            </div>
            <div class="row" style="position: fixed; bottom: 0; left: 0; right: 0; margin-bottom: 10px;">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button id="submitDesigns" class="btn btn-block btn-primary" style="font-weight: 800;">NEXT</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script>
    let count = 0;
    let selectedDesigns = [];
    $(document).ready(function () {
        $("#submitDesigns").prop('disabled', true);
        $("#submitDesigns").click(function () {
            console.log("Selected Desings are: ", selectedDesigns);
            localStorage.setItem("selectedDesigns", JSON.stringify(selectedDesigns));
            window.location.href = "http://localhost:3000/automated/selectColors";
        })
    });

    function selectDesign(id) {
        const borderColor = to_hex($(`#designUpper${id}`).css("border-color"));
        if (borderColor === "#ffffff") {
            if (count >= 5) {
                return;
            }
            $(`#designUpper${id}`).css({
                "border-color": "#F0F0F0",
                "border-width": "2px",
                "border-style": "solid"
            });
            selectedDesigns.push(id);
            count++;
            if (count > 3) {
                $("#submitDesigns").prop('disabled', false);
            }
        }
        else {
            $(`#designUpper${id}`).css({
                "border-color": "#FFFFFF",
                "border-width": "0px",
                "border-style": "solid"
            });
            count--;
            let ids = [];
            selectedDesigns.forEach(design => {
                if (design !== id) {
                    ids.push(design);
                }
            });
            selectedDesigns = ids;
            if (count < 4) {
                $("#submitDesigns").prop('disabled', true);
            }
        }
    }

    function to_hex(color) {
        var chars = /(.*?)rgb\((\d+), (\d+), (\d+)\)/.exec(color);
        var red = parseInt(chars[2]);
        var green = parseInt(chars[3]);
        var blue = parseInt(chars[4]);
        var rgb = blue | (green << 8) | (red << 16);
        return chars[1] + '#' + rgb.toString(16);
    };
</script>