<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <title>LOGO MART</title>
    <!-- Meta Tags -->
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- Styling Files -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css" type="text/css" />
    <link href="/public/stylesheets/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/stylesheets/pageloader.css" />
    <link rel="stylesheet" href="/public/javascripts/vendor/swiper.min.css" />
    <link rel="stylesheet" href="/public/javascripts/vendor/jquery.fullpage.min.css" />
    <link rel="stylesheet" href="/public/javascripts/vegas/vegas.min.css" />
    <!-- Main CSS files -->
    <link rel="stylesheet" href="/public/stylesheets/main.css" />
    <!-- Web fonts and Web Icons -->
    <link rel="stylesheet" href="/public/fonts/opensans/stylesheet.css" />
    <link rel="stylesheet" href="/public/fonts/bebas/stylesheet.css" />
    <link rel="stylesheet" href="/public/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="/public/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/stylesheets/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/public/design/style.css" />
    <link rel="stylesheet" href="/public/design/jquery-ui.min.css" />


    <!-- Script Files -->
    <script src="/public/javascripts/vendor/modernizr-2.7.1.min.js"></script>
    <script src="/public/javascripts/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/javascripts/popper.js"></script>
    <script src="/public/javascripts/bootstrap.min.js"></script>
    <script src="/public/javascripts/vendor/scrolloverflow.min.js"></script>
    <script src="/public/javascripts/vendor/all.js"></script>
    <script src="/public/javascripts/particlejs/particles.min.js"></script>
    <script src="/public/javascripts/jquery.downCount.js"></script>
    <script src="/public/javascripts/form_script.js"></script>
    <script src="/public/javascripts/bootstrap-select.min.js"></script>
    <script src="/public/javascripts/main.js"></script>

    <script src="/public/design/html2canvas.min.js"></script>
    <script src="/public/design/jquery-ui.min.js"></script>

    <script src="/public/design/script.js"></script>
    <!-- This file will load and display all the icons. -->
    <script src="/public/design/loadIcons.js"></script>
    <!-- This file will load and display all the fonts. -->
    <script src="/public/design/loadFonts.js"></script>
    <!-- This file will load and display all the colors. -->
    <script src="/public/design/loadFontColor.js"></script>
    <!-- This file will load and display all the background colors. -->
    <script src="/public/design/loadBackgroundColor.js"></script>

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/godswearhats/jquery-ui-rotatable@1.1/jquery.ui.rotatable.css">
    <script src="/public/design/jquery.ui.rotatable.min.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyB-oh_jVJatT5kMBk2NYb7wZ15CRLQ7BDo",
            authDomain: "logo-mart.firebaseapp.com",
            databaseURL: "https://logo-mart.firebaseio.com",
            projectId: "logo-mart",
            storageBucket: "logo-mart.appspot.com",
            messagingSenderId: "654640285591",
            appId: "1:654640285591:web:9dceebf9d27f8ec999a6d2",
            measurementId: "G-VPBLGZ4WQC"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
</head>

<body id="menu" class="body-page">
    <%- include('../../shared/_loading.ejs')%>
    <%- include('../../shared/_design_header.ejs')%>
    <% if (type == 1){%>
    <div class="page-loader" id="automtedLoaded">
        <div id="automtedLoadedInner">
            <div class="icon ion-spin"></div>
            <p style="letter-spacing: 0.3rem;">Working on your design</p>
            <p style="letter-spacing: 0.3rem; margin-top: 30px;">Please wait...</p>
        </div>
        <div class="row" id="automatedLogoMain" style="display: none; position: absolute; top: 0; margin-top: 60px;">
            <div class="col-md-12">
                <img src="" id="automatedLogoMainDesignUrl" />
                <br />
                <button class="btn btn-primary" id="downloadDesign" style="margin-top: 10px;">
                    Download
                </button>
                <br />
                <button class="btn btn-primary" id="editDesign" style="margin-top: 10px;">
                    Edit Design
                </button>
            </div>
        </div>
    </div>
    <%}%>

    <main class="page-main page-fullpage main-anim designPage" id="mainpage">
        <input type="hidden" id="userDesignId" value="<%= userDesign.id %>"/>
    <div class="row designInner">
        <div class="col-md-12 designInnerLevelOne">
            <div class="card designInnerLevelTwo d-flex justify-content-lg-center" id="mainCanvas">
                <% if (type == 2){%>
                <div id="MainDiv" class="designBorder">
                    <img src="<%= design.val().designURL %>" class="designImage" />
                </div>
                <%}%>
                </div>
            </div>
        </div>
    </main>
    <% if (type == 1) { %>
                <script>
                    const listDesings = JSON.parse(localStorage.getItem("selectedDesigns"));
                    const listColors = JSON.parse(localStorage.getItem("selectedColors"));
                    const listTextStyles = JSON.parse(localStorage.getItem("selectTextStyles"));
                    const indexDesign = randomInteger(0, listDesings.length - 1);
                    const indexColor = randomInteger(0, listColors.length - 1);
                    const indexTextStyle = randomInteger(0, listTextStyles.length - 1);
                    let design = null;
                    let automatedCompanyName = "";
                    let automatedTagline = "";

                    $(document).ready(function () {
                        console.log("Automated Design page is ready");
                        console.log("List of designs: ", listDesings);
                        console.log("List of colors: ", listColors);
                        console.log("List of text styles: ", listTextStyles);
                        console.log("Index of design: ", indexDesign);
                        console.log("Index of color: ", indexColor);
                        console.log("Index of text style: ", indexTextStyle);

                        automatedCompanyName = $("#companyName").val().trim();
                        automatedTagline = "\n" + $("#tagline").val().trim();
                        console.log("Company Name: ", automatedCompanyName);
                        console.log("Tagline: ", automatedTagline);


                        $("#editDesign").click(function () {
                            $("#input0").css("margin", 0);
                            $("#MainDiv").css("margin", 0);
                            $("#automtedLoaded").fadeOut(1100);
                        });

                        $("#downloadDesign").click(function () {
                            for (var i in map) {
                                if (map[i] === true) {
                                    $("#" + i).removeClass("focusDesignBorder");
                                } else {
                                    $("#" + i).removeClass("designBorder");
                                }
                            }
                            $(".ui-rotatable-handle").hide();
                            html2canvas(document.querySelector("#mainCanvas"), {
                                useCORS: true,
                            }).then((canvas) => {
                                let fileName = "";
                                if (
                                    automatedCompanyName === null ||
                                    automatedCompanyName === undefined ||
                                    automatedCompanyName.length < 1
                                ) {
                                    fileName = "file-name.png";
                                } else {
                                    fileName = automatedCompanyName + ".png";
                                }
                                downloadLogo(canvas.toDataURL(), fileName);
                                $(".ui-rotatable-handle").show();
                                for (var i in map) {
                                    if (map[i] === true) {
                                        $("#" + i).addClass("focusDesignBorder");
                                    } else {
                                        $("#" + i).addClass("designBorder");
                                    }
                                }
                            });
                        });
                        getDesign();
                    });

                    function randomInteger(min, max) {
                        return Math.floor(Math.random() * (max - min + 1)) + min;
                    }

                    function getDesign() {
                        const userDesignId = '<%= userDesign.id %>';
                        const designType = '<%= userDesign.designType %>';
                        const companyName = '<%= userDesign.companyName %>';
                        const tagline = '<%= userDesign.tagline %>';

                        console.log("User Design id is: ", userDesignId);
                        console.log("User Design type is: ", designType);

                        firebase.database().ref().child(designType).child(listDesings[indexDesign]).once("value")
                            .then(d => {
                                design = d.val();
                                console.log("Design is: ", design);
                                let mainDesign = `
                            <div id="MainDiv" class="designBorder" onmousedown="elementClicked('MainDiv')" style="position: absolute; left: 0; right: 0; top:0; bottom: 0; margin: auto;">
                                <img src="${design.designURL}" class="designImage" />
                            </div>`;
                                $("#mainCanvas").append(mainDesign);
                                setTimeout(function () {
                                    initMainListeners();
                                    insertCompanyName(companyName);
                                }, 5000);
                            })
                            .catch(e => {
                                console.log("Read value from database error: ", e.message);
                            });
                    }

                    function insertCompanyName(companyName) {
                        let input = `
                    <div style="position: absolute; left: 0; right: 0; top:0; bottom: 0; margin: auto;" onmousedown="elementClicked('input${0}')" class="designInputUpper designBorder" id="input${0}">
                        <textarea id="font${0}" readonly="readonly" class="designInput designBorder ${listTextStyles[indexTextStyle]}" type="text" style="text-align: center;">${companyName}</textarea>
                        <textarea id="font${1}" readonly="readonly" class="designInput designBorder ${listTextStyles[indexTextStyle]}" type="text" style="text-align: center;">${tagline}</textarea>
                    </div>`;
                        $("#mainCanvas").append(input);
                        setTimeout(function () {
                            initFontListeners(0);
                            $("#font0").css({ color: "#" + listColors[indexColor] });
                            $("#font1").css({ color: "#" + listColors[indexColor] })
                            setTimeout(function () {
                                for (var i in map) {
                                    if (map[i] === true) {
                                        $("#" + i).removeClass("focusDesignBorder");
                                    } else {
                                        $("#" + i).removeClass("designBorder");
                                    }
                                }
                                $(".ui-rotatable-handle").hide();
                                html2canvas(document.querySelector("#mainCanvas"), {
                                    useCORS: true,
                                }).then((canvas) => {
                                    saveToShow(canvas.toDataURL(), "file-name.png");
                                    $(".ui-rotatable-handle").show();
                                    for (var i in map) {
                                        if (map[i] === true) {
                                            $("#" + i).addClass("focusDesignBorder");
                                        } else {
                                            $("#" + i).addClass("designBorder");
                                        }
                                    }
                                });
                            }, 3000);
                        }, 5000);
                    }
                    function saveToShow(uri, filename) {
                        let dateTime = new Date().getTime();
                        var fileName = "" + dateTime + filename;
                        console.log("File Name: ", fileName);
                        var ref = firebase.storage().ref("Users").child("Designs").child(fileName);
                        console.log("Ref Created");
                        var uploadTask = ref.putString(uri.split(",")[1], "base64", {
                            contentType: "image/png",
                        });

                        uploadTask.on(
                            "state_changed",
                            function (snapshot) {
                                var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                                console.log("Upload is " + progress + "% done");
                                progress = progress.toFixed(2);
                                switch (snapshot.state) {
                                    case firebase.storage.TaskState.PAUSED: // or 'paused'
                                        console.log("Upload is paused");
                                        break;
                                    case firebase.storage.TaskState.RUNNING: // or 'running'
                                        console.log("Upload is running");
                                        break;
                                }
                            },
                            function (error) {
                                console.log("Upload Error: ", error);
                            },
                            function () {
                                uploadTask.snapshot.ref.getDownloadURL().then(function (downloadURL) {
                                    console.log("File available at", downloadURL);
                                    const userDesignId = $("#userDesignId").val();
                                    console.log("userDesignId: ", userDesignId);
                                    firebase
                                        .database()
                                        .ref()
                                        .child("UserDesign")
                                        .child(userDesignId)
                                        .child("designUrl")
                                        .set(downloadURL);
                                    console.log("Finish Last");
                                    $("#automatedLogoMainDesignUrl").attr("src", downloadURL);
                                    $("#automtedLoadedInner").fadeOut(1000);
                                    $("#automatedLogoMain").fadeIn(1300);
                                });
                            }
                        );
                    }
                    function downloadLogo(uri, filename) {
                        var link = document.createElement("a");
                        if (typeof link.download === "string") {
                            link.href = uri;
                            link.download = filename;
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                        } else {
                            window.open(uri);
                        }
                    }
                </script>
                <%}%>
</body>

</html>